#ifndef GRAPH_REST_CONFIG_HPP
#define GRAPH_REST_CONFIG_HPP

// These are defined from build-time configuration.
// clang-format off
#define GRAPH_REST_VERSION "${PROJECT_VERSION}"
#define GRAPH_REST_FULL_VERSION "${GRAPH_REST_FULL_VERSION}"
#define GRAPH_REST_VERSION_MAJOR ${PROJECT_VERSION_MAJOR}
#define GRAPH_REST_VERSION_MINOR ${PROJECT_VERSION_MINOR}
#define GRAPH_REST_VERSION_PATCH ${PROJECT_VERSION_PATCH}
// clang-format on

#endif
