#ifndef GRAPH_CORE_CONFIG_HPP
#define GRAPH_CORE_CONFIG_HPP

// These are defined from build-time configuration.
// clang-format off
#define GRAPH_CORE_VERSION "${PROJECT_VERSION}"
#define GRAPH_CORE_FULL_VERSION "${GRAPH_CORE_FULL_VERSION}"
#define GRAPH_CORE_VERSION_MAJOR ${PROJECT_VERSION_MAJOR}
#define GRAPH_CORE_VERSION_MINOR ${PROJECT_VERSION_MINOR}
#define GRAPH_CORE_VERSION_PATCH ${PROJECT_VERSION_PATCH}

#if !defined(GRAPH_CORE_MAX_PROPERTIES)
#define GRAPH_CORE_MAX_PROPERTIES ${GRAPH_CORE_MAX_PROPERTIES}
#endif
#if !defined(GRAPH_CORE_MAX_SCHEMA_NODES)
#define GRAPH_CORE_MAX_SCHEMA_NODES ${GRAPH_CORE_MAX_SCHEMA_NODES}
#endif
#if !defined(GRAPH_CORE_MAX_SCHEMA_RELATIONSHIPS)
#define GRAPH_CORE_MAX_SCHEMA_RELATIONSHIPS ${GRAPH_CORE_MAX_SCHEMA_RELATIONSHIPS}
#endif
#if !defined(GRAPH_CORE_MAX_STRING_ID_LENGTH)
#define GRAPH_CORE_MAX_STRING_ID_LENGTH ${GRAPH_CORE_MAX_STRING_ID_LENGTH}
#endif
#if !defined(GRAPH_CORE_MAX_INPLACE_STRING_PROPERTY_LENGTH)
#define GRAPH_CORE_MAX_INPLACE_STRING_PROPERTY_LENGTH ${GRAPH_CORE_MAX_INPLACE_STRING_PROPERTY_LENGTH}
#endif
// clang-format on

#endif
